Hello {{ username }},
<br>
    We received a request for changing your password. Please access this url <br> <a href="{{ reset_url }}">{{ reset_url }}</a> to continue or copy the link and use it in a new browser tab.
    If you didn't ask to reset your password, please ignore this mail or contact the support team.